# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.orig
*.log
*.cache
*.pid
*.aux
*.class
*.pyc
*.pyo
*.pyd           

build/
build-*

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CTestTestfile.cmake
cmake_install.cmake
Makefile
Makefile.in
*.cmake
*.ninja